/*

Colors:

Jet blue: #3C3744
Duke blue: #44458a
True blue: #3066BE
Powder blue: #B4C5E4
Ivory: #FBFFF1

*/

#root {
  padding: 2rem;
  text-align: center;
  --Jet-blue: #3C3744;
  /* backgrounds */
  --Duke-blue: #44458a;
  --True-blue: #295baa;
  /* banners */
  --Powder-blue: #B4C5E4;
  /* highlights */
  --Ivory: #FBFFF1;

  --header-font: 'Cochin', Georgia, Times, Times New Roman, serif;
  --font: 'Oxygen', Ubuntu, Cantarell, 'Helvetica Neue';
  --radius: 8px;
}

* {
  background-color: var(--Jet-blue);
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}

header {
  font-family: var(--True-blue);
  border-radius: var(--radius);
  margin-left: -35px;
  margin-top: -10px;
  margin-bottom: 20px;
  align-items: center;
  display: block;
  justify-content: space-between;
}

/*-------------------------------------------------*/
/* Nav section*/

nav {
  background-color: var(--Jet-blue);
  border-radius: var(--radius);
  float: left;
  bottom: -5px;
  right: 0px;
}

ul {
  list-style: none;
  position: relative;
}

ul li {
  display: inline-block;
  padding: 20px;
  /* flex adjusts by flex grow, flex shrink and flex basis [aka default width]*/
  flex: 1 1 50px;
}

ul li a {
  text-decoration: none;
  color: var(--Ivory);
  font-family: var(--header-font);
  text-align: center;
}

ul li a:hover {
  color: var(--Powder-blue);
  border-radius: var(--radius);
  background-color: var(--Duke-blue);
  font-weight: 600;
  padding: 20px;
  font-size: 18px;
}

/* ------------------------------ */

/* Text and Headings */

p {
  font-weight: 600;
  padding: 20px;
  font-size: 18px;
}

input{
  padding:10px;
  margin: 20px;
  background-color: var(--Ivory) ;
}

.Message {
  width:300px;
  height:150px;
  background-color: var(--Ivory) ;
}

button{
  padding:10px;
  margin: 20px;
  background-color: var(--True-blue);
}
